body {
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
}

.row {
    margin-top: 20px;
}

.container {
    margin-top: 10px;
}

.habit-container {
    margin-top: 20px;
    text-align: left;

}

.habit-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.habit-name {
    line-height: 1;
}

.logged-habits {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.num-of-times {
    line-height: 1;
}